:root{
    --white:hsl(0, 0%, 100%);
    --light-gray:hsl(212, 45%, 89%);
    --grayish-blue:hsl(220, 15%, 55%);
    --dark-blue:hsl(218, 44%, 22%);
}
body {
    display: flex;
    align-items: center; 
    justify-content: center; 
    min-height: 100vh; 
    font-family: "Outfit",sans-serif;
    background-color: var(--grayish-blue);
}

.qr-card{
    display: flex;
    flex-direction: column;
    padding: 36px 24px;
    background-color: var(--white);
    text-align: center;
    border-radius: 24px;
    box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.1);
}
.qr-card .qr-code-image img{
    width: 350px;
    height: 350px;
    border-radius: 24px;
}
.qr-card h1{
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    max-width: 20ch;
    font-weight: 700;
}
.qr-card p{
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    max-width: 24ch;
    opacity: 0.75;
}
@media (max-width:375px){
    .qr-card{
        padding: 24px 12px;
        max-width: 75ch;
    }
    .qr-card h1{
        font-size: 20px;
    }
    .qr-card p{
        font-size: 16px;
    }
    .qr-card .qr-code-image img{
        width: 300px;
        height: 300px;
    }

}


